.contentC {
  position: relative;
  width: 40rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  .addressC , .emailC {
    display: flex;
    gap: 0.9rem;
    padding: 1.625rem 1.5rem;
    input {
      border: none;
      width: calc(100% - 123.5px - 1rem);
      &:focus {
        outline: none;
      }
    }
  }
  .buttonC {
    position: absolute;
    right: calc(0px - 123.5px);
    top: 50%;
    transform: translateY(-50%);
    background-color: #eff1f5;
    height: 325px;
    width: 245px;
    border-radius: 50%;
    .button {
      position: absolute;
      left: 27px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
      color: #737279;
    }
  }
}
